.project {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project h1 {
    margin-top: 50px;
    color: #3e497a;
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
  }

  .project h2 {
    margin-top: 35px;
    color: #3e497a;
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
  }
  .project img {
    width: 700px;
    border-radius: 10px;
  }
  
  .project p {
    font-size: 25px;
    color: #3e497a;
    line-height: 1;
  }
  
  .project svg {
    font-size: 60px;
    color: #3e497a;
  }