section#aboutContainer {
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-content {
    width: 70%;
    height: auto;
    margin: 50px;
}

.about-content h3 {
    line-height: 2.6rem;
  }

.about-content p {
    font-size: large;
}