.slick-prev:before,
.slick-next:before {
  color: yellow;
}

 .slick-prev {
    left: 0px;
}

.slick-next {
    right: 0px;
}


 section {
    display: flex;
    height: auto;

    align-items: center;
    flex-direction: column;
}