.navbar {
    display:table-row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }

  .navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.navbar-slider {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #ff7f50;
}

.navbar-slider-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ff7f50;
  transition: width 0.3s ease-in-out;
}

  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
  }

  .navbar-logo img{
    width: 10vw;
    min-width: 100px;
    height: auto;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar-nav li {
    margin-right: 20px;
  }
  
  .navbar-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-nav li a:hover {
    color: #ccc;
  }
  